.env
.venv
__pycache__
indian_street_data/india-latest.osm.pbf
indian_street_data/named_roads.osm
.DS_Store
pronunciation_engine/__pycache__/normalizer.cpython-311.pyc
scripts/audio_outputs
nav_audio.wav